<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>to-do-list by vue</title>
</head>

<body>

<div id="app">
  <div>
    <input type="number" :value="value" @input="onValueChange">
    <button id="btn-display" @click="display">show value</button>
  </div>
  <div>
      <input type="text" name="" id="txt-title" v-model="title" >
      <button id="btn-submit" @click="add">submit</button>
    </div>
  <div>
    <ul id="ul-list">
      <li v-for="item in list">{{item}}</li>
    </ul>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript">
  var vm = new Vue({
    el: '#app',
    data: {
      title: '',
      list: [],
      value: 0
    },
    methods: {
      add: function () {
        this.list.push(this.title)
        this.title = ''
      },
      onValueChange (event) {
        if (!event.target.value) {
          event.target.value = 0
        }
        if (/^\d*.?\d{0,2}$/.test(event.target.value)) {
          this.value = parseFloat(event.target.value)
        } else {
          event.target.value = this.value
        }
        console.log('input: ', event.target.value)
        console.log('value: ', this.value)
      },
      display () {
        console.log("value: ", this.value)
      }
    }
  })

</script>

</body>
</html>